# === General OS files ===
.DS_Store
Thumbs.db

# === Java / Maven ===
auth-service/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
.mvn/wrapper/maven-wrapper.jar
*.log

**/secrets/
**/keystore/
**/application-dev.properties

# === Gradle (in case some service uses it) ===
.gradle/
build/
!*/src/main/**/build/
!*/src/test/**/build/

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr
out/

# === Eclipse / Spring Tool Suite (STS) ===
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# === VS Code ===
.vscode/

# === NetBeans ===
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# === Logs and temporary files ===
*.log
*.tmp
*.bak
*.swp
*.swo
*.swn

# === Ignore service-level target folders ===
**/target/

# === Ignore compiled class files ===
*.class

# === Node / frontend ===
node_modules/
dist/
.env

# === Ignore help files (Spring Initializr generated) ===
HELP.md

# === Angular frontend-specific ===
edp-frontend/tmp/
edp-frontend/out-tsc/
edp-frontend/bazel-out/
edp-frontend/npm-debug.log
edp-frontend/yarn-error.log
edp-frontend/.angular/cache/
edp-frontend/.sass-cache/
edp-frontend/connect.lock
edp-frontend/coverage/
edp-frontend/libpeerconnection.log
edp-frontend/testem.log
edp-frontend/typings/
edp-frontend/.history/
edp-frontend/node_modules/
edp-frontend/dist/

