.flex-spacer {
  flex: 1 1 auto;
}

.notification-icon-button {
  position: relative; /* This makes sure the badge is relative to the button */
}

.notification-icon-button .mat-badge-content {
  top: -4px; /* Adjust to position the badge vertically on the bell icon */
  right: -4px; /* Adjust to position the badge horizontally on the bell icon */
  background-color: #d32f2f; /* Red background for the notification dot */
  color: white; /* White color for the dot content */
  font-size: 0.75rem; /* Smaller font size for the badge content */
  padding: 2px 4px; /* Smaller padding for the dot */
}
