<mat-toolbar color="primary" class="shadow-sm">
  <span class="d-flex align-items-center me-4">
    <span class="fw-semibold fs-5">EDP App</span>
  </span>

  <span class="flex-spacer"></span>

  @if(tokenService.isLoggedIn()) {
  <button mat-button (click)="goTo('/inside')" >Dashboard</button>
  <button mat-button [matMenuTriggerFor]="careerMenu">Career Package</button>
  <mat-menu #careerMenu="matMenu">
    <button mat-menu-item (click)="goTo('/career-package/templates')">
      Templates
    </button>
    <button mat-menu-item (click)="goTo('/career-package/my-package')">
      My Package
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="libraryMenu">Library</button>
  <mat-menu #libraryMenu="matMenu">
    <button mat-menu-item (click)="goTo('/library/my-materials')">
      My Materials
    </button>
  </mat-menu>

  <button mat-stroked-button color="warn" (click)="onLogout()">Logout</button>
  }
</mat-toolbar>
