<mat-card class="mat-elevation-z3 mb-4">
  <mat-card-header class="d-flex justify-content-between align-items-center">
    <mat-card-title>Template Details</mat-card-title>
    <button
      mat-icon-button
      routerLink="/career-package/templates"
      matTooltip="Back to Templates"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div
      class="d-flex flex-wrap flex-md-nowrap justify-content-between align-items-center mb-3"
    >
      <mat-form-field appearance="outline" class="me-3 w-100 mb-2 mb-md-0">
        <mat-label>Department</mat-label>
        <input
          matInput
          [ngModel]="templateDetailService.template()?.department"
          (ngModelChange)="templateDetailService.updateDepartment($event)"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="me-3 w-100 mb-2 mb-md-0">
        <mat-label>Position</mat-label>
        <input
          matInput
          [ngModel]="templateDetailService.template()?.position"
          (ngModelChange)="templateDetailService.updatePosition($event)"
        />
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="w-100 w-md-auto px-4"
        (click)="saveTemplateMeta()"
        [disabled]="!isDirty()"
      >
        Change Department & Position
      </button>
    </div>
  </mat-card-content>
</mat-card>

@for (section of templateDetailService.template()?.sections; track section.id) {
@defer (on viewport) {
<app-section [sectionData]="section" [sectionOrder]="$index + 1"></app-section>
} @placeholder {
<div class="loading-placeholder">Loading section {{ $index + 1 }}...</div>
} }

<div class="text-center my-4">
  <button mat-raised-button color="primary" (click)="openAddSectionDialog()">
    Add Section +
  </button>
</div>
